<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns="https://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
	<!--<![endif]-->
	<!-- BEGIN HEAD -->
	<head th:fragment="header">
		<meta charset="utf-8"/>
			<title th:text=#{searchpage.label.searchpage}>Search Page</title>
			<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
		<meta content="" name="description"/>
		<meta content="" name="author"/>
		<meta th:name="_csrf" th:content="${_csrf.token}"/>
<!-- default header name is X-CSRF-TOKEN -->
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
		<!-- BEGIN GLOBAL MANDATORY STYLES -->
		<link rel="icon" type="image/x-icon" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'img/favicon.ico'}"/>
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/buttons/social-icons.css'}" />
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/font-awesome.min.css'}" />
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/bootstrap.min.css'}" />
		
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/bootstrap-select.css'}" /> 
		
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/jslider.css'}" /> 
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/settings.css'}" />
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/jquery.fancybox.css'}" />
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/animate.css'}" />
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/video-js.min.css'}" />
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/morris.css'}" />
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/royalslider/royalslider.css'}" />
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/royalslider/skins/minimal-white/rs-minimal-white.css'}" />
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/layerslider/layerslider.css'}" />
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/ladda.min.css'}" /> 
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/style.css'}" />
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/responsive.css'}" />
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/customizer/pages.css'}" />
		<!-- <link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/reset.css'}"/>
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/main.css'}"/> -->
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/customizer/home-pages-customizer.css'}" />
		 <link rel="stylesheet" type="text/css" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/style2.css'}" /> 
		<link th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'custom/css/chefya.css'}" rel="stylesheet" type="text/css"/>
		<link th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'custom/css/chefya-responsive.css'}" rel="stylesheet" type="text/css"/>
		<!-- <link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/jquery.nouislider.css'}" />  -->
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/customizer/search-page.css'}" /> 
		
		<!-- Style sheet for Notification Alert -->
<!-- <link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'notification/css/demo.css'}" /> -->
<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'notification/css/normalize.css'}" />
<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'notification/css/ns-default.css'}" />
<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'notification/css/ns-style-other.css'}" />
		
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/responsive.css'}" />

	<link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<link th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'custom/css/jquery.tagit.css'}" rel="stylesheet" type="text/css">

		
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
	<!-- IE Styles-->
<link rel='stylesheet' th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/ie/ie.css'}"/>
<script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
<script th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'custom/js/tag-it.js'}"  type="text/javascript" charset="utf-8"></script>
<script th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'custom/js/jquery.lazyload.min.js'}" type="text/javascript"></script>
		
		<script type="text/javascript" th:inline="javascript">
		    /* <![CDATA[ */
		    var contextPath = /*[[@{/}]]*/	
		    var searchQueries=[[${searchQueries}]];
		    var currentUserId=[[${session.userId}]];
		    /* var obj = [[${translations}]]; */
		    var currentLang=[[${currentLocale}]];
			var isLive = [[${session.isLive}]];
    var CDNPath = "";
    if(isLive)
    	CDNPath = "//static-chefyainc.netdna-ssl.com";
		    /* ]]> */
		</script>
		<!-- Get location CSS for drop down location options -->
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
		<style type="text/css">
			.pac-container, .pac-item {
			     z-index: 50000;
			}
			 .sb_wrapper input[type="text"]  {
   padding: 11px 5px 6px 20px !important;
}  
		</style>
	</head>



	<body class="fixed-header hidden-top">

<script type="text/javascript">
/// HACKY HACKY - successful HACK by Mr Shahbaz

    	$.preloadImages = function() {
    	  for (var i = 0; i < arguments.length; i++) {
    	    $("<img />").attr("src", arguments[i]);
    	  }
    	}

    	$.preloadImages("//static-chefyainc.netdna-ssl.com/chefya//images_public/dummyimageforflipcard.jpg");

    	/// END HACKY
</script>	
	
<div class="abcmodal" ></div>
      <style>
          .abcmodal {
              display: none;
              position: fixed;
              z-index: 1000;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              background: rgba(255, 255, 255, .8) url('../../images_public/301.GIF') 50% 50% no-repeat;
          }
          /* When the body has the loading class, we turn
             the scrollbar off with overflow:hidden */
          body.loading {
              overflow: hidden;
          }
          
        /*   .new-checkbox {
    margin: 4px 0 0 -20px;
}   */
          
      </style>
	
	

 <div class="modal fade" id="unSureMessageModel" style="overflow-y: auto;z-index: 999999;">
        <div class="modal-dialog" style="margin: 237px auto;">
            <div class="modal-content">
                <div class="modal-header"  >
                  <!--  <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    -->
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" th:text=#{recipeitems.label.close}>Close</span></button>
       
                    <h4 class="modal-title" th:text="#{productitems.label.chefya}">Chefya Message</h4>
                </div>
                <div class="modal-body">
                <h6 th:text="#{newsfeed.youarenotfollowingthisuser}">I’m sorry, we are unable to share this item. Please follow this user to share an item by message.</h6>
                    <p  > </p> <!-- id="alertModel3Message" -->
                  
                  <div id="modalLocations"></div>
                </div>
                <div class="modal-footer" style="background-color:#f89406;color: #ffffff " >
                 <button  id="resumeDraftButton" type="button" class="btn-default" data-dismiss="modal" th:text="#{dishitems.label.ok}">OK</button> 
                 
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
	
	
	
	<div class="modal fade" id="email_confirmation"
		style="overflow-y: auto">
		<div class="modal-dialog" style="margin: 237px auto;">
			<div class="modal-content">
				<div class="modal-header">
					<!--  <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    -->
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only"
							th:text=#{userprofile.label.close}>Close</span>
					</button>

					<h4 class="modal-title" th:text=#{userprofile.label.chefyamessage}>Chefya
						Message</h4>
				</div>
				<div class="modal-body">


					<p id="alertModel4Messageeeee"
						th:text=#{userprofile.label.invitationsuccessfully}>your
						invitation has been sent successfully.</p>


					<div id="modalLocations"></div>
				</div>
				<div class="modal-footer"
					style="background-color: #f89406; color: #ffffff">
					<!--  <button  id="resumeDraftButton" type="button" class="savebutton" data-dismiss="modal">Yes</button> -->
					<!--   <button id="cancelDraftButton" type="button" class=" cancelbutton" data-dismiss="modal">No</button>
                -->
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->



 <div class="modal fade" id="notConfirmationModel" style="overflow-y: auto;">
        <div class="modal-dialog" style="margin: 237px auto;">
            <div class="modal-content">
                <div class="modal-header"  >
                  <!--  <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    -->
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" th:text=#{recipeitems.label.close}>Close</span></button>
       
                    <h4 class="modal-title" >Chefya Message</h4>
                </div>
                <div class="modal-body">
                <h6 th:text="#{newsfeed.sorrythisitemhasnotshared}">Sorry, this item has not been shared.</h6>
                    <p  > </p> <!-- id="alertModel3Message" -->
                  
                  <div id="modalLocations"></div>
                </div>
                <div class="modal-footer" style="background-color:#f89406;color: #ffffff " >
                 <button  id="resumeDraftButton" type="button" class="btn-default" data-dismiss="modal">OK</button> 
                 
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



  <div class="modal fade" id="confirmationModel" style="overflow-y: auto;">
        <div class="modal-dialog" style="margin: 237px auto;">
            <div class="modal-content">
                <div class="modal-header"  >
                  <!--  <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    -->
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" th:text=#{recipeitems.label.close}>Close</span></button>
       
                    <h4 class="modal-title" th:text="#{newsfeed.chefyamessage}">Chefya Message</h4>
                </div>
                <div class="modal-body">
                    <p  th:text="#{newsfeed.successfullysharedthisitem}">Successfully Shared this Item </p> <!-- id="alertModel3Message" -->
                  
                  <div id="modalLocations"></div>
                </div>
                <div class="modal-footer" style="background-color:#f89406;color: #ffffff " >
                 <button  id="resumeDraftButton" type="button" class="btn-default" data-dismiss="modal">OK</button> 
                 
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    

	
	<div class="modal" id="shareModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 1100;">
		<div class="modal-dialog">
			<div class="modal-content" style="padding: 20px;">
				<div class="modal-header" style="padding: 0px;">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" th:text="#{newsfeed.sharecontent}">Share Content</h4>
				</div>
				<div class="modal-body" style="padding: 0 20px; margin-top: 20px;">


					<form id="sharemodelform" class="form-horizontal" method="post">

						<div class="form-group">
							<label class="col-sm-4 col-md-4" id="radioButtonCheck"><input checked="checked"
								type="radio" id="radioByTimeline" name="colorRadio"
								value="timeline"><span th:text="#{newsfeed.mytimeline}">My Timeline</span></label> <label
								class="col-sm-4 col-md-4"><input type="radio"
								name="colorRadio" id="radioByMessage" value="message"><span th:text="#{newsfeed.bymessage}">By Message</span>
								</label> <label class="col-sm-4 col-md-4"><input
								type="radio" name="colorRadio" id="radioByTimeEmail"
								value="email"><span th:text="#{newsfeed.byemail}">By E-mail</span></label>
						</div>
						<div class="timeline">
							<div class="form-group" style="border: 1px solid buttonface;">
								<div class="form-group"
									style="margin-bottom: 0px; margin-left: 10px;">
									<label class="control-label"
										style="float: left; font-weight: normal;">Share to my
										Timeline</label>
								</div>
							</div>
						</div>
						<div class="message">
							  <div class="form-group" style=" margin-bottom: 0px;">
           						<span th:text="#{recipedetailed.label.enternameofuser}">Enter name of user</span>
           					  <ul style="margin-left: 0px; margin-right: 0px;" class="form-group" id="singleFieldTags">
          
           						 </ul>
 			 				   </div>
							<div class="form-group">
								 <textarea id="sharedTextArea" maxlength="1000" class="form-control" th:placeholder="#{productitems.label.writemessagehere}"></textarea> 		
							</div>
							<div class="form-group" style="border: 1px solid buttonface;">
								<div>
									<img alt="" id="shareImageUrl"
										th:src="@{/frontend/img/single-1.png}"
										style="width: 550px; height: 300px;" />
								</div>
								<div class="form-group"
									style="margin-bottom: 0px; margin-left: 10px;">
									<label  id ="profileshareproname" 
										style="margin-top: 6px;float: left; font-weight: normal;">Item name </label> <label
										class="control-label"
										style="float: left; font-weight: normal;">&nbsp by
										&nbsp</label> <label class="shareusername control-label"
										style="float: left; font-weight: normal;">Tony</label>
								</div>
								<div class="sharedescription form-group"
									style="margin-bottom: 0px; margin-left: 10px;">
									<label class="control-label"
										style="float: left; font-weight: normal;"></label>
								</div>
							</div>
						</div>
						<div class="email">
							<div class="form-group">
								<input type="text" id="receiverEmail" name="receiverEmail" class="form-control"
									th:placeholder="#{updateprofile.placeholder.Email}" />
									<h7 id='isEmailCorrect'></h7>	
							</div>
							<div class="form-group">
								<textarea id="emailUserMessage" maxlength="1000" class="form-control"
									th:placeholder="#{productitems.label.writemessagehere}"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div style="margin-left: 65px; margin-top: 30px;">
								<button id="shareItemButton" type="button"
									class="col-sm-5 col-md-5 btn btn-lg" style="margin-left: 2px;">Share</button>
								<button type="button" class="col-sm-5 col-md-5 btn btn-lg"
									style="margin-left: 10px;" data-dismiss="modal">Cancel</button>
							</div>
						</div>
					</form>
				</div>

			</div>
			<!-- /.modal-content -->

		</div>
		<!-- /.modal -->
	</div>
	<!-- /.modal-dialog -->
	
	
	
	
	
	
	
	 <div class="modal fade" id="locationModel" tabindex="-1" role="dialog" aria-labelledby="modalLabel-1" aria-hidden="true">
			<div class="modal-dialog">
			  <div class="modal-content">
				<div class="modal-header">
				  <a href="#" class="close" data-dismiss="modal" aria-hidden="true">×</a>
				  <div class="title-box">
					<h4 class="title" th:text="#{dishitems.label.tellusyourlocation}">Tell us your location</h4>
				  </div>
				</div>
				<div id="locationmodelbody" class="modal-body">
					
					<!-- <div class="description">
						      Tell us your place:
					</div> -->
						
					<div id="locationField">
					<input id="autocomplete" class="form-control" th:placeholder="#{dishitems.label.enteracityoraddress}" type="text" />
					</div>
					    	
					<div id="map-canvas" style="height: 400px"></div>
						
				</div>
				<div class="modal-footer">
				  <button type="button" onclick = "cancelSaveLocation()" class="btn btn-default" data-dismiss="modal" th:text="#{inbox.title.close}">Close</button>
				  <button type="button" onclick = "saveLocation()" class="btn btn-primary" data-dismiss="modal" th:text="#{myinventory.label.savechanges}">Save changes</button>
				</div>
			  </div>
			</div>
		  </div> 
		
	<div class="modal fade"id="alertModal3" style="overflow-y: auto; z-index: 1100">
        <div class="modal-dialog" >
            <div class="modal-content">
                <div class="modal-header"  >
                  <!--  <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    -->
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
       
                    <h4 class="modal-title" th:text="#{recipeitems.label.chefyamessage}">Chefya Message</h4>
                </div>
                <div class="modal-body">
                    <p id="alertModel3Message" th:text="#{recipedetail.label.pleaseloginfirst}">Please Login First. </p>
                    <div class="row sidebar" style="margin: 0px;">														
							<aside class="widget links">	
								  <span th:text=#{recipeitems.label.clickhere}>Click here to</span> <a th:href="@{/login}"><b th:text="#{login.button}">Login</b></a> <span th:text="#{dishdetail.label.or}">or</span> <a th:href="@{/signup}"><b th:text="#{dishdetail.label.register}">Register</b></a>
					        </aside>				        
					</div>
                   <!-- <span th:text="#{recipedetailed.label.clickhere}">Click Here</span> <a th:href="@{/login}" th:text="#{recipedetailed.label.login}">Login</a> -->
                  <div id="modalLocations"></div>
                </div>
                <div class="modal-footer" style="background-color:#f89406;color: #ffffff " >
                   <!--  <button  id="resumeDraftButton" type="button" class="savebutton" data-dismiss="modal">Yes</button> -->
                  <!--   <button id="cancelDraftButton" type="button" class=" cancelbutton" data-dismiss="modal">No</button>
                -->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
	
	
	
		<div class="page-box">
			<div class="page-box-content">
				
				<div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
					<div th:case="${true}" >
						<div  th:replace="fragments/header :: authenticated-user-header-top-box"></div>
						<div th:replace="fragments/header :: authenticated-user-header"></div>
					</div>
					<div th:case="${false}">
						<div  th:replace="fragments/header :: anonymous-header"></div>
					</div>
				</div>
				<!-- <div class="breadcrumb-box">
				  <div class="container">
				    <ul class="breadcrumb">
				      <li><a href="index.html">Home</a> </li>
				      <li class="active">Category</li>
				    </ul>	
				  </div>
				</div> --><!-- .breadcrumb-box -->
	
	 
	
				<section id="main">
					<header class="page-header">
					    <div class="container" >
							<div class="col-sm-9 col-md-9" style="padding-left: 0px">
					     			<h1 style="display:inline;" class="title" th:text="#{searchpage.label.searchresults}">Search Results: </h1>
					     			<h6 id="searchtext"style="display:inline;" class="description"></h6>
					      	</div>
					      	<div class="col-sm-3 col-md-3" style="text-align:right !important; padding-top:27px; padding-right: 0px"">
								<span id="location-name"></span>
								<span id="location-icon" class="icon icon-32 ">
									<i class="fa fa-location-arrow locationicon" style="vertical-align: top; padding-top: 1px;"></i>
								</span>
							</div>		
					    </div>	
				  	</header>
				  
					<div class="container">
						<div class="row">
						      <div id="catalog" class="content col-sm-12 col-md-12">
								<!-- style="display: none;" -->
									<div class="toolbar clearfix" >
										<div class="sort-catalog">
											<div class="btn-group sort-by btn-select">
											  <a class="btn dropdown-toggle btn-default filter-zindex" style="width: 190px" role="button" data-toggle="dropdown" href="#" >Filter by Rating: <span id="starspan" >All</span> <span class="caret"></span></a>
											  <ul class="dropdown-menu" id="staroptions" style="width: 190px">
											    <li><a href="#">All</a></li>
												<li><a href="#">1</a></li> 
												<li><a href="#">2</a></li>
												<li><a href="#">3</a></li>
												<li><a href="#">4</a></li>
												<li><a href="#">5</a></li>
											  </ul>
											</div>
										</div>
							
										<div class="sort-catalog" th:if="${session.country_code != 'US'}">
											<div class="btn-group sort-by btn-select">
											  <a class="btn dropdown-toggle btn-default filter-zindex" style="width: 190px"  role="button" data-toggle="dropdown" href="#" >Filter by Radius: <span id="locationspan" >All</span> <span class="caret"></span></a>
											  <ul class="dropdown-menu" id="distanceoptions" style="width: 190px">
												<li><a href="#">All</a></li>
												<li><a href="#"> 5 km</a></li>
												<li><a href="#">10 km</a></li>
												<li><a href="#">50 km</a></li> 
												<li><a href="#">100 km</a></li> 
												<li><a href="#">200 km</a></li>
												<li><a href="#">500 km</a></li>
												<li><a href="#"> 1000 km</a></li>
											  </ul>
											</div>
										</div>
										<div class="sort-catalog" th:if="${session.country_code == 'US'}">
											<div class="btn-group sort-by btn-select">
											  <a class="btn dropdown-toggle btn-default filter-zindex" style="width: 190px"  role="button" data-toggle="dropdown" href="#" >Filter by Radius: <span id="locationspan" >All</span> <span class="caret"></span></a>
											  <ul class="dropdown-menu" id="distanceoptions" style="width: 190px">
												<li><a href="#">All</a></li>
												<li><a href="#"> 5 miles</a></li>
												<li><a href="#">10 miles</a></li>
												<li><a href="#">50 miles</a></li> 
												<li><a href="#">100 miles</a></li> 
												<li><a href="#">200 miles</a></li>
												<li><a href="#">500 miles</a></li>
												<li><a href="#"> 1000 miles</a></li>
											  </ul>
											</div>
										</div>
										
										<div class="price-regulator pull-right price-left">
												<b th:text=#{searchpage.label.price}>Price:</b>
												<div class="layout-slider" style="margin-top: 4px">
												  <input id="Slider2" type="slider" name="price" value="0;1000" class="form-control"/>
												
												</div>
										</div> <!-- .price-regulator -->
									</div>
								<div id="loadingPosts" class="col-sm-12 col-md-12 text-center" style="display: none;">
									<img alt="loading" th:src="@{/frontend/img/rs-slider/loader.gif}" style="width: 55px;">
								</div>
								<div class="products grid row">
	
						    	</div><!-- .content -->
					   		</div><!-- .catalog -->
					   	</div><!-- .row -->
					</div><!-- .container -->
				</section><!-- #main -->
			</div><!-- .page-box-content -->
		</div><!-- .page-box -->
	
		<!--  Modal content for the lion image example -->
	<div class="modal fade pop-up-2" id="pic_modal" tabindex="-1" style="z-index: 1048"
		role="dialog" aria-labelledby="myLargeModalLabel-2" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<div class="modal-header"
					style="background-color: #f9f9f9; border-bottom: 1px inset lightgray; border-radius: 5px 5px 0 0; padding: 15px;">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true" onclick="closeVideo()">×</button>
					<h4 class="modal-title" style="color: gray;"
						id="pictitle">Category Name</h4>
				</div>
				<div class="col-xs-12 col-md-12 modal-body"
					style="background-color: #ffffff; padding: 0px; min-height: ">
					
					<div  class="col-md-12 description" style="margin-top: 10px">
				 <div  class="col-lg-12 col-md-12 " style="text-align: center;background: #f8f8f8">
				 
					<img style="display: inline-block; vertical-align: middle;max-height: 800px !important"  id="pic_image" th:src="@{../../images_public/qwess.jpg}" onError="this.src='https://placehold.it/600x600';" class="img-responsive" 
						 alt="" >
					<video style="display: inline-block; vertical-align: middle;"  id="video_image" th:src="@{../../images_public/qwess.jpg}"  class="img-responsive" 
						 alt="" controls="controls" >
				</div> 
				 <div class="col-lg-12 col-md-12" style="padding:  10px;margin-top:10px; background: #f8f8f8">
		                <p id="pic_description" style="word-wrap: break-word; padding: 10px;  th:text="#{Descriptions_text}" ></p>
		         </div> 
			</div>
					<div class="col-md-12 description"
						style="padding: 0px; margin-top: 10px;">
						<div class="col-md-12 row sidebar" style="margin: 0px;">					
						<a id="profile_image_link" href="" >
						<img width="48" id="profile_image"  style="height:48px !important ; vertical-align: super !important; " data-appear-animation="rotateIn" 
							title="" alt="" src="https://i.imgur.com/kzGVqbd.jpg"    th:onError="'this.src=\'' +@{/images_public/defaultUserImage.jpg} + '\';'"
							class="image img-circle appear-animation rotateIn appear-animation-visible" /></a>
			       		<div class="meta widget links" style="display: inline-block; vertical-align: top;" >
				       		<a id="username"  style="font-size: 12px">Matte-Ur-Rehman</a> <br>
				       		<span id="pic_date" class="time"   style="font-size: 12px">12/12/2114</span>
			       		</div>
									
				</div>
						<!-- <div class="col-xs-12 col-md-12">
                      <p id="pic_description" style="max-height: 70px; margin-bottom: 10px;  padding: 5px 0 0 10px; background: lightgoldenrodyellow"  th:text="#{Descriptions_text}" ></p>
                </div>      -->
						<div class="col-xs-12 col-md-12">
							<div class="col-xs-4 col-md-1" id="likebigdiv"></div>
							<div class="col-xs-5 col-md-1">
								<!-- 	<span id="total_comments" style="color: #7f7f7f" th:text="18-Comments" >18-Comments</span> -->
								<span class="time"> <span id="showingcomments">2</span>
									of <span id="totalshowingcomments">2</span>
								</span>
							</div>
							<div class="col-xs-3 col-md-1" style="margin-top: 4px">
								<a
									data-mainimage="/chefya/images_public/item_images/3ba97caf-efdf-48d6-98e5-b6514617c123-thumbnailBackSide.jpg"
									style="display: -moz-groupbox; background: none; height: 0px; fill: lightgray;"
									data-id="12"  class="pictureShare"> <svg
										xmlns:xlink="https://www.w3.org/1999/xlink"
										xmlns="https://www.w3.org/2000/svg" xml:space="preserve"
										width="24px" viewBox="85 100 400 330" version="1.1"
										style="enable-background: new 0 0 16 16;" id="Layer_1"
										height="16px">
							    <g>
										<path
											d="M352,377.9H102.4V198.2h57.5c0,0,14.1-19.7,42.7-38.2H83.2c-10.6,0-19.2,8.5-19.2,19.1v217.9c0,10.5,8.6,19.1,19.2,19.1
								h288c10.6,0,19.2-8.5,19.2-19.1V288L352,319.4V377.9z M320,224v63.9l128-95.5L320,96v59.7C165.2,155.7,160,320,160,320
								C203.8,248.5,236,224,320,224z" /></g>
							  </svg>
								</a>
							</div>
						</div>
						<div id="commentallListdiv" class="col-xs-12 col-md-12"
							style="margin-bottom: 10px">
							<ul id="commentallList"
								style="overflow-y: auto; overflow-x: hidden; max-height: 315px; padding: 0px;background: #f8f8f8"
								class="commentlist picturecommentullll">

							</ul>

							<button id="seemore" style="padding: 0px 10px; font-size: 12px;margin-top: 10px"
								type="button" class="btn btn-default">See More ...</button>
						</div>
						<div id="userloggedin">
							<div class="col-xs-12 col-md-12">
								<label>Comment: <span class="required">*</span></label>
								<textarea maxlength="1000" id="commentText1"
									class="form-control" style="margin-bottom: 10px; height: 83px"></textarea>
									<span id="picturecommneterrorr" class="myform-error" style="display:none"> Comment is Required.</span>
									<label ><span th:text=#{productdetail.label.tagpeople}>Tag People:</span> </label>
						<ul id="commentsingleFieldTags" class="form-control editcommnetul">
           		 </ul>
								<!-- <i>Note: HTML is not translated!</i> -->
							</div>
							<div class="col-xs-12 col-md-12">
								<button type="button" id="commentReviewButton"
									class="btn btn-default" style="margin-bottom: 10px">Submit</button>
							</div>
						</div>
						
						
						 <div id="editpicturecommentdiv" class="col-xs-12 col-md-12" style="display: none;">
			  <h4 class="title" >Edit Comment</h4>
			  <form id="editmyForm" class="comments-form">
				
				<div class="row">
					<div class="col-sm-10 col-md-10">
						<label ><span th:text=#{productdetail.label.comment}>Comment:</span> <span class="required">*</span></label>
						<textarea id="editcommentText1" class="form-control" maxlength="1000"></textarea>
						<span id="editpicturecommneterrorr" class="myform-error" style="display:none"> Comment is Required.</span>
						<input id="commentidtobeeditted" style="display: none"  />
						<label ><span th:text=#{productdetail.label.tagpeople}>Tag People:</span> </label>
						<div id="editcommentsingleFieldTagsdiv">
						
           		 </div>
						<!-- <i>Note: HTML is not translated!</i> -->
				  	</div>
				  	<div class="col-sm-12 col-md-12">
						<button id="editcommentReviewButton" type="button" class="btn btn-default" th:text=#{productdetail.label.submit}>Submit</button>			
				  	
				  	<button id="canceleditcommentReviewButton" type="button" class="btn btn-default" >Cancel</button>
				  	
				  	</div>
				</div>
			  </form><!-- .comments-form -->
			  </div><!-- .User Status is logged in and Buyer -->
						
						
						
						
						
						
						
						
						
						
						<div id="userloggedout" class="col-sm-12 col-md-12" style="margin-bottom: 20px;">

 							 <div class="row sidebar" style="margin: 0px;">														
								<aside class="widget links">	
									  <span th:text="#{dishdetail.label.please}">Please</span> <a th:href="@{/login}"><b th:text="#{login.button}">Login</b></a> <span th:text="#{dishdetail.label.or}">or</span> <a th:href="@{/signup}"><b th:text="#{dishdetail.label.register}">Register</b></a> <span th:text="#{recipedetailed.label.togiveyourreviewandcomment}">to give your Review/Comment.</span>
						        </aside>				        
							 </div>
							<!-- <p style="color: #f99839; margin-bottom: -8px">Please Login	to give your Review/Comment .</p>
							Click Here <a th:href="@{/login}">Login</a> -->

						</div>
						<!-- .User Status is Anonymous -->

					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->

	<div th:replace="fragments/footer :: footer">...</div>

		
<!-- 		
<script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-migrate-1.2.0.js"></script> -->
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/bootstrap.min.js'}"></script>
<!-- <script  th:src="@{frontend/js/price-regulator/jshashtable-2.1_src.js}"></script>
<script  th:src="@{frontend/js/price-regulator/jquery.numberformatter-1.2.3.js}"></script> -->
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/price-regulator/tmpl.js'}"></script>
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/price-regulator/jquery.dependClass-0.1.js'}"></script>
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/price-regulator/draggable-0.1.js'}"></script>
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/price-regulator/jquery.slider.js'}"></script>
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.carouFredSel-6.2.1-packed.js'}"></script>
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.touchSwipe.min.js'}"></script>
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.elevateZoom-3.0.8.min.js'}"></script>
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.imagesloaded.min.js'}"></script>
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.appear.js'}"></script>
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.sparkline.min.js'}"></script>
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.easypiechart.min.js'}"></script>
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.easing.1.3.js'}"></script>
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.fancybox.pack.js'}"></script>
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/isotope.pkgd.min.js'}"></script>
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.knob.js'}"></script>
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.stellar.min.js'}"></script>
<!-- <script  th:src="@{frontend/js/jquery.selectBox.min.js}"></script> -->
<!-- <script  th:src="@{frontend/js/jquery.royalslider.min.js}"></script>
<script  th:src="@{frontend/js/jquery.tubular.1.0.js}"></script>
<script  th:src="@{frontend/js/country.js}"></script>
<script  th:src="@{frontend/js/spin.min.js}"></script>
<script  th:src="@{frontend/js/ladda.min.js}"></script> -->
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/masonry.pkgd.min.js'}"></script>
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/morris.min.js'}"></script>
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/raphael.min.js'}"></script>

<!-- <script  th:src="@{frontend/js/pixastic.custom.js}"></script>
<script  th:src="@{frontend/js/livicons-1.3.min.js}"></script>
<script  th:src="@{frontend/js/layerslider/greensock.js}"></script>
<script  th:src="@{frontend/js/layerslider/layerslider.transitions.js}"></script>
<script  th:src="@{frontend/js/layerslider/layerslider.kreaturamedia.jquery.js}"></script> -->
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/revolution/jquery.themepunch.plugins.min.js'}"></script>
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/revolution/jquery.themepunch.revolution.min.js'}"></script>
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/main.js'}"></script>
<script type="text/javascript" th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/modernizr.custom.26633.js'}"></script>
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'js/jquery.infinitescroll.js'}"></script>
<script th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'assets/global/plugins/jquery-validation/js/jquery.validate.min.js'}" type="text/javascript"></script>
<script th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'js/cbpFWTabs.js'}"></script>
<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jstz.min.js'}"></script>
<script th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'custom/js/chefya.js'}" type="text/javascript"></script>
<script th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'custom/js/stomp.js'}"></script>
	<script th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'custom/js/sockjs-0.3.4.min.js'}"></script>
	<script th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'notification/js/classie.js'}"></script>
	<script th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'notification/js/notificationFx.js'}"></script>
<script th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'custom/js/jquery.timeago.js'}"></script>
<script th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'custom/js/jquery.i18n.properties.js'}" type="text/javascript"></script>
	<script th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'custom/js/i18n.config.properties.js'}" type="text/javascript"></script>

<!--  -->
<!--  -->

	<script th:inline="javascript">	
	
	// <![CDATA[       
	            
		/* function hideLinkIfNoTruncation(isTruncated, origContent) {
			if (!isTruncated) {
				$('.readMoreLink',this).remove()
		
				console.log('Hiding Load More');
			} else{
			
				console.log('Not Hiding Load More');
			
			}
		} */
	
		/* function clicked() {
			
			var div=$(this).closest('.truncated_box');
			console.log(div,div.data('origContent'));
		
			/* div.height('auto').trigger('destroy').find('.readMoreLink').remove() 
		
			console.log('Clicked '+div.attr('id'));	
			return false;
		} */
		 function closeVideo(){
			document.getElementById('video_image').pause();
			$("#commentsingleFieldTags").tagit("removeAll");
		}      
		$(document).ready(function ()
		{
			loadBundles(currentLang , CDNPath + contextPath+'resources/');
			if(searchQueries.searchText == "*")
				$("#searchtext").text(" ");
			else
				$("#searchtext").text(" "+searchQueries.searchText);
			  
			$(".timeline").show();
	    	    $(".message").hide();
	    	    $(".email").hide();
	    	
	    	    
	    	    
	    	    $('input[type="radio"]').click(function(){
	    	        
	    	    	if($(this).attr("value")=="timeline"){
	    	        	 $(".timeline").show();
	    	        	 $(".message").hide();
	    	        	 $(".email").hide();
	    	        }
	    	       
	    	    	if($(this).attr("value")=="message"){    
	    	        	var proname = $(".productname").text();        	
	    	        	$(".shareproname").text(proname);
	    	        	
	    	        	var username = $(".username").text();        	
	    	        	//$(".shareusername").text(username);
	    	        	        	
	    	        	/* var desc = $(".description").text();        	
	    	        	$(".sharedescription").text(desc);        	 */
	    	        	
	    	        	 //alert("Text: " + username);
	    	        	 $(".timeline").hide();
	    		       	 $(".message").show();
	    		       	 $(".email").hide();
	    		       	
	    		       	
	    	        }
	    	       
	    	    	if($(this).attr("value")=="email"){
	    	        	 $(".timeline").hide();
	    		       	 $(".message").hide();
	    		       	 $(".email").show();
	    	        }
	    	    
	    	    });  
	    	    
	    	    
			
			
			
			
			var status = /*[[${#authorization.expression('isAuthenticated()')} ]]*/
				$("ul#commentsingleFieldTags").on("keyup keypress", function(e) {
					////console.log("ddddddddddddddd");
					  var code = e.keyCode || e.which; 
					  if (code  == 13) {               
					    e.preventDefault();
					    return false;
					  }
					});
			$("#commentText1").on("keyup keypress", function(e) {
				var tttexxt=$('#commentText1').val().length;
				 if(tttexxt>0){
					 
					$("#picturecommneterrorr").hide();
					 
				 }else{
					 
					 $("#picturecommneterrorr").show();
				 }
				});
			$("#editcommentText1").on("keyup keypress", function(e) {
				var tttexxt=$('#editcommentText1').val().length;
				 if(tttexxt>0){
					 
					$("#editpicturecommneterrorr").hide();
					 
				 }else{
					 
					 $("#editpicturecommneterrorr").show();
				 }
				});
				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
	    	if(status == false){
	    		$("body").removeClass("hidden-top");
	    		$("body").removeClass("loaded");
	    	}
			
			 /*..................................................User Unread Message Counter..............................  */
			
			 else{
				 runSafely(initMessageNotification);
				 runSafely(getUnreadMessageCounter);
			   	}
			
			runSafely(initLogoutForm);
			runSafely(searchDropDown);
			
			/*$(".truncated_box").dotdotdot({
				after: "a.readMoreLink",
			 	callback: hideLinkIfNoTruncation
			 
		  	}).find('a.readMoreLink').click(clicked)
		  	*/
		  	runSafely(globalSearch);
		  	
		/* $("#wrapper").dotdotdot({
			after: "a.readmore",
			height		: 120
			});
		 */
		
		
		
		
			/*..................................................Price Slider..............................  */
				/*$('.range-slider').each(function() {
			        var $this = $(this),
			            configs = new Array();
			
			
				        configs['min'] = ( $this.data('min') === undefined ) ? 0 : $this.data('min');
				        configs['max'] = ( $this.data('max') === undefined ) ? 100 : $this.data('max');
				        configs['start'] = ( $this.data('start') === undefined ) ? [configs['min'], configs['max']] : $this.data('start');
				        configs['step'] = ( $this.data('step') === undefined ) ? 1 : $this.data('step');
				        configs['currency'] = ( $this.data('currency') === undefined ) ? '$' : $this.data('currency');
			
				        $this.noUiSlider({
				            range: [configs['min'], configs['max']],
				            start: configs['start'],
				            step: configs['step'],
				            connect: true,
				            handles: 2,
				            slide: function() {
				                var values = $(this).val();
			
				                $this.siblings('.range-slider-value').find('> .min').text( configs['currency'] + values[0] );
				                $this.siblings('.range-slider-value').find('> .max').text( configs['currency'] + values[1] );
			
				            },
				            serialization: {
				                to: [ 'min-price', 'max-price' ],
				                resolution: 1,
				                mark: ","
				            }
				        }).change(function()
				        {
				            console.log('Price value is in end   '+ $(this).val());
				        
				        });
				    }); */
			     
			    
					/*..................................................Filters..............................  */
			    
				/* 	
					$('.selectpickerStar').selectpicker({
			            width:'150px'
			        });
					
					$('.selectpickerLocation').selectpicker({
			            width:'150px'
			        });
					
					$('.selectpickerSort').selectpicker({
			            width:'150px'
			        });
					 */
			
					 
					  //-------------------------------
				      // Minimal
				      //-------------------------------
				      $('#singleFieldTags').tagit({
				    	
				    	    fieldName: "label",
				    	    
				    		 
				    	    
				    	  
				    	    autocomplete: {delay: 0, minLength: 1},
				    	    showAutocompleteOnFocus: false,
				    	    onlyAvailableTags : false,
				    	    tagLimit: 1,
				    	   
				    	    
				    	    
				    	   	    	    
				    	    tagSource: function( request, response ) {
				    	    	var criteria=$("ul#singleFieldTags").find(".tagit-new input").val();
				    	    	var output = {
				     	                "userId": currentUserId,
				     	                "count": 0 ,
				     	                "criteria": criteria
				     	              
				     	            };
				    	    	
				    	    	// //console.log("here is the typed data"+$("ul#singleFieldTags li input").val());
				    	    	 
				                $.ajax({
				                	 url: contextPath+"/profile/fetchfollowingslistByCriteria",
				                	 type: "POST",
				                	 contentType: 'application/json',
				                		 beforeSend: function(xhr) {  
				                	         xhr.setRequestHeader(header, token);  
				                	     },
				                	 data:JSON.stringify(output),
				                    success: function( data ) {
				                    
				                        response( $.map( data, function( item ) {
				                            return {
				                            	
				                            	label: item.userFirstName+" "+item.userLastName,
				                                userID: item.userId,
				                                value: item.userFirstName+" "+item.userLastName,
				                                id: item.userId
				                               
				                            }
				                        }));
				                    }
				                });//End of first AJAX request
				                
				              
				   	    	  
				    	    }});
					 
					 
					 
					 
					 
					 
					 $('#commentsingleFieldTags').tagit({
					    	
				      	    fieldName: "label",
				      	    
				      		 
				      	    
				      	  
				      	    autocomplete: {delay: 0, minLength: 1},
				      	    showAutocompleteOnFocus: false,
				      	    onlyAvailableTags : false,
				      	    tagLimit: null,
				      	   
				      	   
				      	    
				      	    
				      	   	    	    
				      	    tagSource: function( request, response ) {
				      	    	//var criteria=$("ul#commentsingleFieldTags li input").val();
				      	    	var criteria=$("ul#commentsingleFieldTags").find(".tagit-new input").val();
				      	    	var output = {
				       	                "userId": currentUserId,
				       	                "count": 0 ,
				       	                "criteria": criteria
				       	              
				       	            };
				      	    	
				      	    	// //console.log("here is the typed data"+$("ul#singleFieldTags li input").val());
				      	    	 
				                  $.ajax({
				                  	 url: contextPath+"/profile/fetchfollowingslistByCriteria",
				                  	 type: "POST",
				                  	 contentType: 'application/json',
				                  		 beforeSend: function(xhr) {  
				                  	         xhr.setRequestHeader(header, token);  
				                  	     },
				                  	 data:JSON.stringify(output),
				                      success: function( data ) {
				                      
				                          response( $.map( data, function( item ) {
				                              return {
				                              	
				                            	  label: item.userFirstName+" "+item.userLastName,
					                                userID: item.userId,
					                                value: item.userFirstName+" "+item.userLastName,
					                                id: item.userId
				                                 
				                              }
				                          }));
				                      }
				                  });//End of first AJAX request
				                  
				                
				     	    	  
				      	    }});
					 
			$('#Slider2').on( "slidden", function( event, value ) {	
				console.log('ENTER STATE CHANGE - value is : ' + value);
				var time = value.split(";");
				if(time.length == 2){
					searchQueries.startPrice = time[0];
					searchQueries.endPrice = time[1];
					runSafely(globalSearch);
				}
	
			} );
				
		 
			$("#staroptions li").on("click", function(e){
				   e.preventDefault();
				   var value = $(this).text();
				   //console.log("Stars "+value);
				   $('#starspan').text(value);
				   searchQueries.rating = value;
				   runSafely(globalSearch);
				   
			});	  
				
				
			$("#distanceoptions li").on("click", function(e){
				   e.preventDefault();
				   //console.log("Distance "+$(this).text());
				   $('#locationspan').text($(this).text());
				   if($(this).text() == "All")
					   searchQueries.distance = "ALL";   
				   else{
					   var distance = $(this).text().split("km");
					   if(distance.length <2){
						   distance = $(this).text().split("miles");
					   }
					   searchQueries.distance = distance[0].trim();
				   }
				   runSafely(globalSearch);
			});	
			
			
			
			$("#sortoptions li").on("click", function(e){
				   e.preventDefault();
				   //console.log("Sort "+$(this).text());
				   $('#sortspan').text($(this).text());
			});	
		
			    
			
			
		});
		
		
		
		/******************************* Location Popup Work *********************************/
		initMapsPopUp([[${session.loggedinlocation}]],[[${session.country_code}]],[[${session.userLat}]],
					[[${session.userLong}]]);
		
		/******************************* Picture popup */
		var seemorecomments=0;
		var timeZone=null;
		var tz = jstz.determine();
		// ]]> 
		</script>
		
		<script type="text/javascript">
		
		
		  function closeVideo(){
		    	document.getElementById('video_image').pause();
		    	$("#commentsingleFieldTags").tagit("removeAll");
		    }
		</script>
	</body>
</html>