<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns="https://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
	<!--<![endif]-->
	<!-- BEGIN HEAD -->
	<head th:fragment="header">
		<meta charset="utf-8"/>
			<title th:text=#{viewmoresearchpage.label.searchpage}>Search Page</title>
			<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
		<meta content="" name="description"/>
		<meta content="" name="author"/>
		<!-- BEGIN GLOBAL MANDATORY STYLES -->
		
		<link rel="icon" type="image/x-icon" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'img/favicon.ico'}"/>
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/buttons/social-icons.css'}" />
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/font-awesome.min.css'}" />
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/bootstrap.min.css'}" />
		
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/bootstrap-select.css'}" /> 
		
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/jslider.css'}" /> 
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/settings.css'}" />
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/jquery.fancybox.css'}" />
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/animate.css'}" />
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/video-js.min.css'}" />
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/morris.css'}" />
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/royalslider/royalslider.css'}" />
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/royalslider/skins/minimal-white/rs-minimal-white.css'}" />
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/layerslider/layerslider.css'}" />
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/ladda.min.css'}" /> 
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/style.css'}" />
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/responsive.css'}" />
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/customizer/pages.css'}" />
		<!-- <link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/reset.css'}"/>
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/main.css'}"/> -->
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/customizer/home-pages-customizer.css'}" />
		 <link rel="stylesheet" type="text/css" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/style2.css'}" /> 
		<link th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'custom/css/chefya.css'}" rel="stylesheet" type="text/css"/>
		<link th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'custom/css/chefya-responsive.css'}" rel="stylesheet" type="text/css"/>
		<!-- <link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/jquery.nouislider.css'}" />  -->
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/customizer/search-page.css'}" /> 
		
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jstz.min.js'}"></script>
		<link rel="stylesheet" th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/responsive.css'}" />
	<link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<link th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'custom/css/jquery.tagit.css'}" rel="stylesheet" type="text/css">	
		<!-- IE Styles-->
		<link rel='stylesheet' th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/css/ie/ie.css'}"/>
		<script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
<script th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'custom/js/tag-it.js'}"  type="text/javascript" charset="utf-8"></script>
		<script th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'custom/js/jquery.lazyload.min.js'}" type="text/javascript"></script>
		<script type="text/javascript" th:inline="javascript">
		    /* <![CDATA[ */
		    var contextPath = /*[[@{/}]]*/	
		    var searchQueries=[[${searchQueries}]];
		    //var searchList = [[${searchList}]];
		       var currentUserId=[[${session.userId}]];
		      /*  var obj = [[${translations}]]; */
		    var nextPage = searchQueries.nextpage;
		    var currentLang=[[${currentLocale}]];
			var isLive = [[${session.isLive}]];
    var CDNPath = "";
    if(isLive)
    	CDNPath = "//static-chefyainc.netdna-ssl.com";
		    /* ]]> */
		</script>
		<!-- Get location CSS for drop down location options -->
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
		<script type="text/javascript" src="https://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
		<style type="text/css">
			.slideImageSize{
			    width:172px;
			    height:180px;
			}
			.pac-container, .pac-item {
			     z-index: 50000;
			}
			#infobox {
			    border:2px solid black;
			    margin-top: 8px;
			    background:#333;
			    color:#FFF;
			    font-family:Arial, Helvetica, sans-serif;
			    font-size:12px;
			    padding: .5em 1em;
			    -webkit-border-radius: 2px;
			    -moz-border-radius: 2px;
			    border-radius: 2px;
			    text-shadow:0 -1px #000000;
			    -webkit-box-shadow: 0 0  8px #000;
			    box-shadow: 0 0 8px #000;
			    
			}
			.slides {
				width: 180px; 
				height: 240px; /* could height be reset based on height of tallest memory div? */
				position: relative;
				overflow: hidden;
			}
			.slides div.memory {
				width: 96%;
				height: 100%;
				padding: 0;
				margin: 0;
				list-style: none;
				position: absolute;
				left: 100%;
				top: 3px;
			}
			.slides div.memory.active {
				left: 0;
			}
			.slidesNav {
				padding: 0;
				margin: 0;
				list-style: none;
				position: absolute;
				bottom: 0;
				right: 0;
			}
			.slidesNav li {
				height: 16px;
				width: 17px;
				float: left;
				margin-right: 3px;
			}
			
			.slidesNav li.left:before {
				 content: "\25C0";
			}
			
			.slidesNav li.right:after {
				 content: "\25B6";
			}	
			
			.slidesNav li.active {
				background-color: red;
			}
			.slideCounter{
				  position: absolute;
				  right: 49px;
				  bottom: 0;
				  padding-bottom: 2px;
			}
		</style>
		
	</head>



	<body class="fixed-header hidden-top">
	
<script type="text/javascript">
/// HACKY HACKY - successful HACK by Mr Shahbaz

    	$.preloadImages = function() {
    	  for (var i = 0; i < arguments.length; i++) {
    	    $("<img />").attr("src", arguments[i]);
    	  }
    	}

    	$.preloadImages("//static-chefyainc.netdna-ssl.com/chefya//images_public/dummyimageforflipcard.jpg");

    	/// END HACKY
</script>

 <div class="modal fade" id="notConfirmationModel" style="overflow-y: auto;">
        <div class="modal-dialog" style="margin: 237px auto;">
            <div class="modal-content">
                <div class="modal-header"  >
                  <!--  <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    -->
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" th:text=#{recipeitems.label.close}>Close</span></button>
       
                    <h4 class="modal-title" >Chefya Message</h4>
                </div>
                <div class="modal-body">
                <h6 th:text="#{newsfeed.sorrythisitemhasnotshared}">Sorry, this item has not been shared.</h6>
                    <p  > </p> <!-- id="alertModel3Message" -->
                  
                  <div id="modalLocations"></div>
                </div>
                <div class="modal-footer" style="background-color:#f89406;color: #ffffff " >
                 <button  id="resumeDraftButton" type="button" class="btn-default" data-dismiss="modal">OK</button> 
                 
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<!-- Confirmation Of Sharing dialog -->
</div><!-- /.modal -->
</div><!-- /.modal-dialog -->

  <div class="modal fade" id="confirmationModel" style="overflow-y: auto;">
        <div class="modal-dialog" style="margin: 237px auto;">
            <div class="modal-content">
                <div class="modal-header"  >
                  <!--  <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    -->
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" th:text=#{recipeitems.label.close}>Close</span></button>
       
                    <h4 class="modal-title" th:text="#{newsfeed.chefyamessage}">Chefya Message</h4>
                </div>
                <div class="modal-body">
                    <p  th:text="#{newsfeed.successfullysharedthisitem}">Successfully Shared this Item </p> <!-- id="alertModel3Message" -->
                  
                  <div id="modalLocations"></div>
                </div>
                <div class="modal-footer" style="background-color:#f89406;color: #ffffff " >
                 <button  id="resumeDraftButton" type="button" class="btn-default" data-dismiss="modal">OK</button> 
                 
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    

	
	<div class="modal fade" id="shareModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="padding: 20px;">
				<div class="modal-header" style="padding: 0px;">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" th:text="#{newsfeed.sharecontent}">Share Content</h4>
				</div>
				<div class="modal-body" style="padding: 0 20px; margin-top: 20px;">


					<form id="sharemodelform" class="form-horizontal" method="post">

						<div class="form-group">
							<label class="col-sm-4 col-md-4" id="radioButtonCheck"><input checked="checked"
								type="radio" id="radioByTimeline" name="colorRadio"
								value="timeline"><span th:text="#{newsfeed.mytimeline}">My Timeline</span></label> <label
								class="col-sm-4 col-md-4"><input type="radio"
								name="colorRadio" id="radioByMessage" value="message"><span th:text="#{newsfeed.bymessage}">By Message</span>
								</label> <label class="col-sm-4 col-md-4"><input
								type="radio" name="colorRadio" id="radioByTimeEmail"
								value="email"><span th:text="#{newsfeed.byemail}">By E-mail</span></label>
						</div>
						<div class="timeline">
							<div class="form-group" style="border: 1px solid buttonface;">
								<div class="form-group"
									style="margin-bottom: 0px; margin-left: 10px;">
									<label class="control-label"
										style="float: left; font-weight: normal;">Share to my
										Timeline</label>
								</div>
							</div>
						</div>
						<div class="message">
							   <div class="form-group" style=" margin-bottom: 0px;">
            
           						<span th:text="#{recipedetailed.label.enternameofuser}">Enter name of user</span>
           					 	 <ul style="margin-left: 0px; margin-right: 0px;" class="form-group" id="singleFieldTags">
           
           						 </ul>
 			 				   </div>
							<div class="form-group">
								 <textarea id="sharedTextArea" maxlength="1000" class="form-control" th:placeholder="#{productitems.label.writemessagehere}"></textarea> 		
							</div>
							<div class="form-group" style="border: 1px solid buttonface;">
								<div>
									<img alt="" id="shareImageUrl"
										th:src="@{/frontend/img/single-1.png}"
										style="width: 550px; height: 300px;" />
								</div>
								<div class="form-group"
									style="margin-bottom: 0px; margin-left: 10px;">
									<label id="userFullName" class="shareproname control-label"
										style="float: left; font-weight: normal;">Item name </label> <label
										class="control-label"
										style="float: left; font-weight: normal;">&nbsp by
										&nbsp</label> <label class="shareusername control-label"
										style="float: left; font-weight: normal;">Tony</label>
								</div>
								<div class="sharedescription form-group"
									style="margin-bottom: 0px; margin-left: 10px;">
									<label class="control-label"
										style="float: left; font-weight: normal;">Some of
										description here...</label>
								</div>
							</div>
						</div>
						<div class="email">
							<div class="form-group">
								<input type="text" id="receiverEmail" name="receiverEmail" class="form-control"
									th:placeholder="#{updateprofile.placeholder.Email}" />
									<h7 id='isEmailCorrect'></h7>	
							</div>
							<div class="form-group">
								<textarea id="emailUserMessage" maxlength="1000" class="form-control"
									th:placeholder="#{productitems.label.writemessagehere}"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div style="margin-left: 65px; margin-top: 30px;">
								<button id="shareItemButton" type="button"
									class="col-sm-5 col-md-5 btn btn-lg" style="margin-left: 2px;">Share</button>
								<button type="button" class="col-sm-5 col-md-5 btn btn-lg"
									style="margin-left: 10px;" data-dismiss="modal">Cancel</button>
							</div>
						</div>
					</form>
				</div>

			</div>
			<!-- /.modal-content -->

		</div>
		<!-- /.modal -->
	</div>
	<!-- /.modal-dialog -->
	<div class="modal fade" id="locationModel" tabindex="-1" role="dialog" aria-labelledby="modalLabel-1" aria-hidden="true">
			<div class="modal-dialog">
			  <div class="modal-content">
				<div class="modal-header">
				  <a href="#" class="close" data-dismiss="modal" aria-hidden="true">×</a>
				  <div class="title-box">
					<h4 class="title" th:text="#{dishitems.label.tellusyourlocation}">Tell us your location</h4>
				  </div>
				</div>
				<div id="locationmodelbody" class="modal-body">
					
					<!-- <div class="description">
						      Tell us your place:
					</div> -->
						
					<div id="locationField">
					<input id="autocomplete" class="form-control" th:placeholder="#{dishitems.label.enteracityoraddress}" type="text" />
					</div>
					    	
					<div id="map-canvas" style="height: 400px"></div>
						
				</div>
				<div class="modal-footer">
				  <button type="button" onclick = "cancelSaveLocation()" class="btn btn-default" data-dismiss="modal" th:text="#{inbox.title.close}">Close</button>
				  <button type="button" onclick = "saveLocation()" class="btn btn-primary" data-dismiss="modal" th:text="#{myinventory.label.savechanges}">Save changes</button>
				</div>
			  </div>
			</div>
		  </div>
	
	
	
		<div class="page-box">
			<div class="page-box-content">
				
				<div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
					<div th:case="${true}" >
						<div  th:replace="fragments/header :: authenticated-user-header-top-box"></div>
						<div th:replace="fragments/header :: authenticated-user-header"></div>
					</div>
					<div th:case="${false}">
						<div  th:replace="fragments/header :: anonymous-header"></div>
					</div>
				</div>
				<!-- <div class="breadcrumb-box">
				  <div class="container">
				    <ul class="breadcrumb">
				      <li><a href="index.html">Home</a> </li>
				      <li class="active">Category</li>
				    </ul>	
				  </div>
				</div> --><!-- .breadcrumb-box -->
	
	 
	
				<section id="main">
					<header class="page-header">
					    <div class="container" >
							<div class="col-sm-9 col-md-9" style="padding-left: 0px">
					     			<h1 style="display:inline;" class="title" th:text="#{searchpage.label.searchresults}">Search Results: </h1>
					     			<h6 id="searchtext"style="display:inline;" class="description"></h6>
					      	</div>
					      	<div class="col-sm-3 col-md-3" style="text-align:right !important; padding-top:27px; padding-right: 0px"">
								<span id="location-name"></span>
								<span id="location-icon" class="icon icon-32 ">
									<i class="fa fa-location-arrow locationicon" style="vertical-align: top; padding-top: 1px;"></i>
								</span>
							</div>		
					    </div>	
				  	</header>
				  
					<div class="container">
						<div class="row">
						      <div id="catalog" class="content col-sm-12 col-md-12">
								
									<div class="toolbar clearfix" ><!-- style="display: none;" -->
										<div class="sort-catalog">
											<div class="btn-group sort-by btn-select">
											  <a class="btn dropdown-toggle btn-default filter-zindex" style="width: 190px" role="button" data-toggle="dropdown" href="#"><span th:text=#{viewmoresearchpage.label.filterbyrating}>Filter by Rating:</span> <span id="starspan" th:text=#{viewmoresearchpage.label.all}>All</span> <span class="caret"></span></a>
											  <ul class="dropdown-menu" id="staroptions" style="width: 190px">
											    <li><a href="#">All</a></li>
												<li><a href="#">1</a></li> 
												<li><a href="#">2</a></li>
												<li><a href="#">3</a></li>
												<li><a href="#">4</a></li>
												<li><a href="#">5</a></li>
											  </ul>
											</div>
										</div>
							
										<div class="sort-catalog" th:if="${session.country_code != 'US'}">
											<div class="btn-group sort-by btn-select">
											  <a class="btn dropdown-toggle btn-default filter-zindex" style="width: 190px"  role="button" data-toggle="dropdown" href="#" >Filter by Radius: <span id="locationspan" >All</span> <span class="caret"></span></a>
											  <ul class="dropdown-menu" id="distanceoptions" style="width: 190px">
												<li><a href="#">All</a></li>
												<li><a href="#"> 5 km</a></li>
												<li><a href="#">10 km</a></li>
												<li><a href="#">50 km</a></li> 
												<li><a href="#">100 km</a></li> 
												<li><a href="#">200 km</a></li>
												<li><a href="#">500 km</a></li>
												<li><a href="#"> 1000 km</a></li>
											  </ul>
											</div>
										</div>
										<div class="sort-catalog" th:if="${session.country_code == 'US'}">
											<div class="btn-group sort-by btn-select">
											  <a class="btn dropdown-toggle btn-default filter-zindex" style="width: 190px"  role="button" data-toggle="dropdown" href="#" >Filter by Radius: <span id="locationspan" >All</span> <span class="caret"></span></a>
											  <ul class="dropdown-menu" id="distanceoptions" style="width: 190px">
												<li><a href="#">All</a></li>
												<li><a href="#"> 5 miles</a></li>
												<li><a href="#">10 miles</a></li>
												<li><a href="#">50 miles</a></li> 
												<li><a href="#">100 miles</a></li> 
												<li><a href="#">200 miles</a></li>
												<li><a href="#">500 miles</a></li>
												<li><a href="#"> 1000 miles</a></li>
											  </ul>
											</div>
										</div>
										<div th:if="${searchQueries.viewMoreSearchIn == 'dish' or searchQueries.viewMoreSearchIn == 'product'}" class="sort-catalog">
											<div class="btn-group sort-by btn-select">
												<a class="btn btn-default  filter-zindex" style="width: 190px; height:25px; line-height: 24px; margin-bottom: 3px; padding: 0px 1px; font-size: 12px;"  role="button"
													 onClick="toggleBetweenMapListView()">
														<span id="customSwitcher">Map View</span>
												</a>
											</div>
										</div>
										<div id="pricefilter">
											<!-- <div class="price-regulator pull-right price-left">
													<b>Price:</b>
													<div class="layout-slider" style="margin-top: 4px">
													  <input id="Slider2" type="slider" name="price" value="0;10000" class="form-control"/>
													
													</div>
											</div> --> <!-- .price-regulator -->
										</div>
									</div>
								<div id="loadingPosts" class="col-sm-12 col-md-12 text-center" style="display: none;">
									<img alt="loading" th:src="@{/frontend/img/rs-slider/loader.gif}" style="width: 55px;">
								</div>
								<div id="customGridView" class="products grid row">
									
					  			</div><!-- .product -->
					  			<div th:if="${searchQueries.viewMoreSearchIn == 'dish'}" id="customMapView" style="display:none;">
									<div id="map_view_search_dom" class="" style="height: 800px;"></div>
								</div>
								<div th:if="${searchQueries.viewMoreSearchIn == 'product'}" id="customMapView" style="display:none;">
									<div id="map_view_search_dom" class="" style="height: 800px;"></div>
								</div>
					  			
					   		</div><!-- .catalog -->
					   	</div><!-- .row -->
					</div><!-- .container -->
				</section><!-- #main -->
				<div id="loadingBox" class="col-md-12 text-center" style="display: none;position: fixed;bottom: 15px;">
					<img alt="loading" th:src="@{/img/loading.gif}" style="width: 55px;">
				</div>
				<div id="endPosts" class="col-md-12 text-center" style="display: none;" th:text=#{viewmoresearchpage.label.nomoreposts}>
					No More Posts to Show
				</div>
			</div><!-- .page-box-content -->
		</div><!-- .page-box -->
	
		<!--  Modal content for the lion image example -->
	<div class="modal fade pop-up-2" id="pic_modal" tabindex="-1"
		role="dialog" aria-labelledby="myLargeModalLabel-2" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<div class="modal-header"
					style="background-color: #f9f9f9; border-bottom: 1px inset lightgray; border-radius: 5px 5px 0 0; padding: 15px;">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true" onclick="closeVideo()">×</button>
					<h4 class="modal-title" style="color: gray;"
						id="pictitle">Category Name</h4>
				</div>
				<div class="col-xs-12 col-md-12 modal-body"
					style="background-color: #ffffff; padding: 0px; min-height: ">
					
					<div  class="col-md-12 description" style="margin-top: 10px">
				 <div  class="col-lg-12 col-md-12 " style="text-align: center;background: #f8f8f8">
				 
					<img style="display: inline-block; vertical-align: middle;max-height: 800px !important"  id="pic_image" th:src="@{../../images_public/qwess.jpg}" onError="this.src='https://placehold.it/600x600';" class="img-responsive" 
						 alt="" >
					<video style="display: inline-block; vertical-align: middle;"  id="video_image" th:src="@{../../images_public/qwess.jpg}"  class="img-responsive" 
						 alt="" controls="controls" >
				</div> 
				 <div class="col-lg-12 col-md-12" style="padding:  10px;margin-top:10px; background: #f8f8f8">
		                <p id="pic_description" style="word-wrap: break-word; padding: 10px;  th:text="#{Descriptions_text}" ></p>
		         </div> 
			</div>
					<div class="col-md-12 description"
						style="padding: 0px; margin-top: 10px;">
						<div class="col-md-12">					
						<a id="profile_image_link" href="" >
						<img width="48" id="profile_image"  style="height:48px !important ; vertical-align: super !important; " data-appear-animation="rotateIn" 
							title="" alt="" src="https://i.imgur.com/kzGVqbd.jpg"    th:onError="'this.src=\'' +@{/images_public/defaultUserImage.jpg} + '\';'"
							class="image img-circle appear-animation rotateIn appear-animation-visible" /></a>
			       		<div class="meta" style="display: inline-block; vertical-align: top;" >
				       		<a id="username"  style="font-size: 12px">Matte-Ur-Rehman</a> <br>
				       		<span id="pic_date" class="time"   style="font-size: 12px">12/12/2114</span>
			       		</div>
									
				</div>
						<!-- <div class="col-xs-12 col-md-12">
                      <p id="pic_description" style="max-height: 70px; margin-bottom: 10px;  padding: 5px 0 0 10px; background: lightgoldenrodyellow"  th:text="#{Descriptions_text}" ></p>
                </div>      -->
						<div class="col-xs-12 col-md-12">
							<div class="col-xs-4 col-md-1" id="likebigdiv"></div>
							<div class="col-xs-5 col-md-1">
								<!-- 	<span id="total_comments" style="color: #7f7f7f" th:text="18-Comments" >18-Comments</span> -->
								<span class="time"> <span id="showingcomments">2</span>
									of <span id="totalshowingcomments">2</span>
								</span>
							</div>
							<div class="col-xs-3 col-md-1" style="margin-top: 4px">
								<a
									data-mainimage="/chefya/images_public/item_images/3ba97caf-efdf-48d6-98e5-b6514617c123-thumbnailBackSide.jpg"
									style="display: -moz-groupbox; background: none; height: 0px; fill: lightgray;"
									data-id="12" id="share" class="pictureShare"> <svg
										xmlns:xlink="https://www.w3.org/1999/xlink"
										xmlns="https://www.w3.org/2000/svg" xml:space="preserve"
										width="24px" viewBox="85 100 400 330" version="1.1"
										style="enable-background: new 0 0 16 16;" id="Layer_1"
										height="16px">
							    <g>
										<path
											d="M352,377.9H102.4V198.2h57.5c0,0,14.1-19.7,42.7-38.2H83.2c-10.6,0-19.2,8.5-19.2,19.1v217.9c0,10.5,8.6,19.1,19.2,19.1
								h288c10.6,0,19.2-8.5,19.2-19.1V288L352,319.4V377.9z M320,224v63.9l128-95.5L320,96v59.7C165.2,155.7,160,320,160,320
								C203.8,248.5,236,224,320,224z" /></g>
							  </svg>
								</a>
							</div>
						</div>
						<div id="commentallListdiv" class="col-xs-12 col-md-12"
							style="margin-bottom: 10px">
							<ul id="commentallList"
								style="overflow-y: auto; overflow-x: hidden; max-height: 315px; padding: 0px;background: #f8f8f8"
								class="commentlist picturecommentullll">

							</ul>

							<button id="seemore" style="padding: 0px 10px; font-size: 12px;margin-top: 10px"
								type="button" class="btn btn-default">See More ...</button>
						</div>
						<div id="userloggedin">
							<div class="col-xs-12 col-md-12">
								<label>Comment: <span class="required">*</span></label>
								<textarea maxlength="1000" id="commentText1"
									class="form-control" style="margin-bottom: 10px; height: 83px"></textarea>
									<span id="picturecommneterrorr" class="myform-error" style="display:none"> Comment is Required.</span>
									<label ><span th:text=#{productdetail.label.tagpeople}>Tag People:</span> </label>
						<ul id="commentsingleFieldTags" class="form-control editcommnetul">
           		 </ul>
								<!-- <i>Note: HTML is not translated!</i> -->
							</div>
							<div class="col-xs-12 col-md-12">
								<button type="button" id="commentReviewButton"
									class="btn btn-default" style="margin-bottom: 10px">Submit</button>
							</div>
						</div>
						
						
						 <div id="editpicturecommentdiv" class="col-xs-12 col-md-12" style="display: none;">
			  <h4 class="title" >Edit Comment</h4>
			  <form id="editmyForm" class="comments-form">
				
				<div class="row">
					<div class="col-sm-10 col-md-10">
						<label ><span th:text=#{productdetail.label.comment}>Comment:</span> <span class="required">*</span></label>
						<textarea id="editcommentText1" class="form-control" maxlength="1000"></textarea>
						<span id="editpicturecommneterrorr" class="myform-error" style="display:none"> Comment is Required.</span>
						<input id="commentidtobeeditted" style="display: none"  />
						<label ><span th:text=#{productdetail.label.tagpeople}>Tag People:</span> </label>
						<div id="editcommentsingleFieldTagsdiv">
						
           		 </div>
						<!-- <i>Note: HTML is not translated!</i> -->
				  	</div>
				  	<div class="col-sm-12 col-md-12">
						<button id="editcommentReviewButton" type="button" class="btn btn-default" th:text=#{productdetail.label.submit}>Submit</button>			
				  	
				  	<button id="canceleditcommentReviewButton" type="button" class="btn btn-default" >Cancel</button>
				  	
				  	</div>
				</div>
			  </form><!-- .comments-form -->
			  </div><!-- .User Status is logged in and Buyer -->
						
						
						
						
						
						
						
						
						
						
						<div id="userloggedout" class="col-sm-12 col-md-12">

							<p style="color: #f99839; margin-bottom: -8px">Please Login
								to give your Review/Comment .</p>
							Click Here <a th:href="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'login'}">Login</a>

						</div>
						<!-- .User Status is Anonymous -->

					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
	
		<div th:replace="fragments/footer :: footer">...</div>
	
		<!-- <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
	<!-- 	<script src="https://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>  -->
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.dotdotdot.js'}"></script>
		
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/bootstrap-select.js'}"></script> 
		<!-- <script src="https://code.jquery.com/jquery-migrate-1.2.0.js"></script> -->
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/bootstrap.min.js'}"></script>
		 <script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/price-regulator/jshashtable-2.1_src.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/price-regulator/jquery.numberformatter-1.2.3.js'}"></script> 
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/price-regulator/tmpl.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/price-regulator/jquery.dependClass-0.1.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/price-regulator/draggable-0.1.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/price-regulator/jquery.slider.js'}"></script>
		<script th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/price-regulator/jquery.ui.touch-punch.js'}"></script>
		
		
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.carouFredSel-6.2.1-packed.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.touchSwipe.min.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.elevateZoom-3.0.8.min.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.imagesloaded.min.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.appear.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.sparkline.min.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.easypiechart.min.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.easing.1.3.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.fancybox.pack.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/isotope.pkgd.min.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.knob.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.stellar.min.js'}"></script>
		<!-- <script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.selectBox.min.js'}"></script> -->
		 <script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.royalslider.min.js'}"></script>
		<!--<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.tubular.1.0.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/country.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/spin.min.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/ladda.min.js'}"></script> -->
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/masonry.pkgd.min.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/morris.min.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/raphael.min.js'}"></script>
		
		<!-- <script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.nouislider.js'}"></script>  -->
		
		
		<!-- <script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/pixastic.custom.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/livicons-1.3.min.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/layerslider/greensock.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/layerslider/layerslider.transitions.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/layerslider/layerslider.kreaturamedia.jquery.js'}"></script> -->
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/revolution/jquery.themepunch.plugins.min.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/revolution/jquery.themepunch.revolution.min.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/main.js'}"></script>
		<script type="text/javascript" th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/modernizr.custom.26633.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'frontend/js/jquery.gridrotator.js'}"></script>
		<script th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'custom/js/chefya.js'}" type="text/javascript"></script>
		<script th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'custom/js/stomp.js'}"></script>
	<script th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'custom/js/sockjs-0.3.4.min.js'}"></script>
	<script th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'notification/js/classie.js'}"></script>
	<script th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'notification/js/notificationFx.js'}"></script>
<script th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'custom/js/jquery.timeago.js'}"></script>
		<script  th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'js/jquery.infinitescroll.js'}"></script>
		<script th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'custom/js/jquery.i18n.properties.js'}" type="text/javascript"></script>
	<script th:src="@{(${session.isLive}? '//static-chefyainc.netdna-ssl.com/chefya/' : '/') + 'custom/js/i18n.config.properties.js'}" type="text/javascript"></script>
		<script th:inline="javascript">	
		var retList ;
	// <![CDATA[       
	            
		/* function hideLinkIfNoTruncation(isTruncated, origContent) {
			if (!isTruncated) {
				$('.readMoreLink',this).remove()
		
				console.log('Hiding Load More');
			} else{
			
				console.log('Not Hiding Load More');
			
			}
		} */
	
		/* function clicked() {
			
			var div=$(this).closest('.truncated_box');
			console.log(div,div.data('origContent'));
		
			/* div.height('auto').trigger('destroy').find('.readMoreLink').remove() 
		
			console.log('Clicked '+div.attr('id'));	
			return false;
		} */
		 function closeVideo(){
			document.getElementById('video_image').pause();
			$("#commentsingleFieldTags").tagit("removeAll");
		}    
	 
			$(document).ready(function ()
			{				
				loadBundles(currentLang , CDNPath + contextPath+'resources/');
				
				$(".timeline").show();
	    	    $(".message").hide();
	    	    $(".email").hide();
	    	
	    	    
	    	    
	    	    $('input[type="radio"]').click(function(){
	    	        
	    	    	if($(this).attr("value")=="timeline"){
	    	        	 $(".timeline").show();
	    	        	 $(".message").hide();
	    	        	 $(".email").hide();
	    	        }
	    	       
	    	    	if($(this).attr("value")=="message"){    
	    	        	var proname = $(".productname").text();        	
	    	        	$(".shareproname").text(proname);
	    	        	
	    	        	var username = $(".username").text();        	
	    	        	//$(".shareusername").text(username);
	    	        	        	
	    	        	/* var desc = $(".description").text();        	
	    	        	$(".sharedescription").text(desc);        	 */
	    	        	
	    	        	 //alert("Text: " + username);
	    	        	 $(".timeline").hide();
	    		       	 $(".message").show();
	    		       	 $(".email").hide();
	    		       	
	    		       	
	    	        }
	    	       
	    	    	if($(this).attr("value")=="email"){
	    	        	 $(".timeline").hide();
	    		       	 $(".message").hide();
	    		       	 $(".email").show();
	    	        }
	    	    
	    	    });  
				
				
				
				if(searchQueries.searchText == "*")
					$("#searchtext").text(" ");
				else
					$("#searchtext").text(" "+searchQueries.searchText);
				var status = /*[[${#authorization.expression('isAuthenticated()')} ]]*/
					$("ul#commentsingleFieldTags").on("keyup keypress", function(e) {
						////console.log("ddddddddddddddd");
						  var code = e.keyCode || e.which; 
						  if (code  == 13) {               
						    e.preventDefault();
						    return false;
						  }
						});
				$("#commentText1").on("keyup keypress", function(e) {
					var tttexxt=$('#commentText1').val().length;
					 if(tttexxt>0){
						 
						$("#picturecommneterrorr").hide();
						 
					 }else{
						 
						 $("#picturecommneterrorr").show();
					 }
					});
				$("#editcommentText1").on("keyup keypress", function(e) {
					var tttexxt=$('#editcommentText1').val().length;
					 if(tttexxt>0){
						 
						$("#editpicturecommneterrorr").hide();
						 
					 }else{
						 
						 $("#editpicturecommneterrorr").show();
					 }
					});
					var token = $("meta[name='_csrf']").attr("content");
					var header = $("meta[name='_csrf_header']").attr("content");
		    	if(status == false){
		    		$("body").removeClass("hidden-top");
		    		$("body").removeClass("loaded");
		    	}
				
				 /*..................................................User Unread Message Counter..............................  */
				
				 else{
					 runSafely(initMessageNotification);
					 runSafely(getUnreadMessageCounter);
				   	}
				
				runSafely(initLogoutForm);
				runSafely(searchDropDown);
				
				/*$(".truncated_box").dotdotdot({
					after: "a.readMoreLink",
				 	callback: hideLinkIfNoTruncation
				 
			  	}).find('a.readMoreLink').click(clicked)
			  	*/
			  	//runSafely(globalSearch);
			  	//runSafely(viewMoreSearch);
			  	runSafely(initViewMoreSearch);
			/* $("#wrapper").dotdotdot({
				after: "a.readmore",
				height		: 120
				});
			 */
			
		      $('#singleFieldTags').tagit({
			    	
		    	    fieldName: "label",
		    	    
		    		 
		    	    
		    	  
		    	    autocomplete: {delay: 0, minLength: 1},
		    	    showAutocompleteOnFocus: false,
		    	    onlyAvailableTags : false,
		    	    tagLimit: 1,
		    	   
		    	    
		    	    
		    	   	    	    
		    	    tagSource: function( request, response ) {
		    	    	var criteria=$("ul#singleFieldTags").find(".tagit-new input").val();
		    	    	var output = {
		     	                "userId": currentUserId,
		     	                "count": 0 ,
		     	                "criteria": criteria
		     	              
		     	            };
		    	    	
		    	    	// //console.log("here is the typed data"+$("ul#singleFieldTags li input").val());
		    	    	 
		                $.ajax({
		                	 url: contextPath+"/profile/fetchfollowingslistByCriteria",
		                	 type: "POST",
		                	 contentType: 'application/json',
		                		 beforeSend: function(xhr) {  
		                	         xhr.setRequestHeader(header, token);  
		                	     },
		                	 data:JSON.stringify(output),
		                    success: function( data ) {
		                    
		                        response( $.map( data, function( item ) {
		                            return {
		                            	
		                            	label: item.userFirstName+" "+item.userLastName,
		                                userID: item.userId,
		                                value: item.userFirstName+" "+item.userLastName,
		                                id: item.userId
		                               
		                            }
		                        }));
		                    }
		                });//End of first AJAX request
		                
		              
		   	    	  
		    	    }});
			 
			 
			 
			 
			 
			 
			 $('#commentsingleFieldTags').tagit({
			    	
		      	    fieldName: "label",
		      	    
		      		 
		      	    
		      	  
		      	    autocomplete: {delay: 0, minLength: 1},
		      	    showAutocompleteOnFocus: false,
		      	    onlyAvailableTags : false,
		      	    tagLimit: null,
		      	   
		      	   
		      	    
		      	    
		      	   	    	    
		      	    tagSource: function( request, response ) {
		      	    	//var criteria=$("ul#commentsingleFieldTags li input").val();
		      	    	var criteria=$("ul#commentsingleFieldTags").find(".tagit-new input").val();
		      	    	var output = {
		       	                "userId": currentUserId,
		       	                "count": 0 ,
		       	                "criteria": criteria
		       	              
		       	            };
		      	    	
		      	    	// //console.log("here is the typed data"+$("ul#singleFieldTags li input").val());
		      	    	 
		                  $.ajax({
		                  	 url: contextPath+"/profile/fetchfollowingslistByCriteria",
		                  	 type: "POST",
		                  	 contentType: 'application/json',
		                  		 beforeSend: function(xhr) {  
		                  	         xhr.setRequestHeader(header, token);  
		                  	     },
		                  	 data:JSON.stringify(output),
		                      success: function( data ) {
		                      
		                          response( $.map( data, function( item ) {
		                              return {
		                              	
		                            	  label: item.userFirstName+" "+item.userLastName,
			                                userID: item.userId,
			                                value: item.userFirstName+" "+item.userLastName,
			                                id: item.userId
		                                 
		                              }
		                          }));
		                      }
		                  });//End of first AJAX request
		                  
		                
		     	    	  
		      	    }});
			
			
				/*..................................................Price Slider..............................  */
					/*$('.range-slider').each(function() {
				        var $this = $(this),
				            configs = new Array();
				
				
					        configs['min'] = ( $this.data('min') === undefined ) ? 0 : $this.data('min');
					        configs['max'] = ( $this.data('max') === undefined ) ? 100 : $this.data('max');
					        configs['start'] = ( $this.data('start') === undefined ) ? [configs['min'], configs['max']] : $this.data('start');
					        configs['step'] = ( $this.data('step') === undefined ) ? 1 : $this.data('step');
					        configs['currency'] = ( $this.data('currency') === undefined ) ? '$' : $this.data('currency');
				
					        $this.noUiSlider({
					            range: [configs['min'], configs['max']],
					            start: configs['start'],
					            step: configs['step'],
					            connect: true,
					            handles: 2,
					            slide: function() {
					                var values = $(this).val();
				
					                $this.siblings('.range-slider-value').find('> .min').text( configs['currency'] + values[0] );
					                $this.siblings('.range-slider-value').find('> .max').text( configs['currency'] + values[1] );
				
					            },
					            serialization: {
					                to: [ 'min-price', 'max-price' ],
					                resolution: 1,
					                mark: ","
					            }
					        }).change(function()
					        {
					            console.log('Price value is in end   '+ $(this).val());
					        
					        });
					    }); */
				     
				    
						/*..................................................Filters..............................  */
				    
					/* 	
						$('.selectpickerStar').selectpicker({
				            width:'150px'
				        });
						
						$('.selectpickerLocation').selectpicker({
				            width:'150px'
				        });
						
						$('.selectpickerSort').selectpicker({
				            width:'150px'
				        });
						 */
			});
		/******************************** Start Location getting code ***************************************/
		/******************************* Location Popup Work *********************************/
		initMapsPopUp([[${session.loggedinlocation}]],[[${session.country_code}]],[[${session.userLat}]],
					[[${session.userLong}]]);
		/******************************** End Location getting code ***************************************/
		var seemorecomments=0;
		var timeZone=null;
		var tz = jstz.determine();
		
	
	
	
	
		function toggleBetweenMapListView(){
			var text = document.getElementById("customSwitcher").innerHTML;
			//alert(''+text);
			if(text=="Map View"){
				document.getElementById("customGridView").style.display='none';
				document.getElementById("customMapView").style.display='Block';
				document.getElementById("customSwitcher").innerHTML='Grid View';
				showMapAndPins()
			}
			else{
				document.getElementById("customGridView").style.display='Block';
				document.getElementById("customMapView").style.display='none';
				document.getElementById("customSwitcher").innerHTML='Map View';
				
			}
		}
		
		var geocoder;
			
			function showMapAndPins(){	
			
				if(map_view_search == null){
					initialize();
					// Setting timeout to let MAP render completely
					setTimeout(function() {
						google.maps.event.trigger(map_view_search, "resize");
						map_view_search.setCenter(new google.maps.LatLng(searchQueries.latitude,searchQueries.longitude));
						map_view_search.setZoom( 4);
						
				    }, 1000);
				}
				else{
					initialized();
					// Setting timeout to let MAP render completely
					setTimeout(function() {
						google.maps.event.trigger(map_view_search, "resize");
						 map_view_search.setCenter(new google.maps.LatLng(searchQueries.latitude,searchQueries.longitude));
						 /*map_view_search.setZoom( 4); */
						
				    }, 1000);
				}
				
			}
			
			
			var map_view_search, places, infoWindow;
			var markers = [];
			var infoboxes = [];
			var autocomplete;
			//var country_code = [[${session.country_code}]];
			//var latitude = parseInt([[${session.userLat}]]);
			//var longitude = parseInt([[${session.userLong}]]);
			//var countryRestrict = { 'country': country_code };
			var MARKER_PATH = 'https://maps.gstatic.com/intl/en_us/mapfiles/marker_green';
			var hostnameRegexp = new RegExp('^https?://.+?/');
			var animating = false;
			var numSlides = 0;
			
			function initialize() {
			
				var myOptions = {
					center: new google.maps.LatLng(searchQueries.latitude,searchQueries.longitude),
					zoom: 3,
					maxZoom:15
				};
				
				map_view_search = new google.maps.Map(document.getElementById('map_view_search_dom'), myOptions);
				
				infoWindow = new google.maps.InfoWindow({
				    content: document.getElementById('info-content')
				});
				
				// Create the autocomplete object and associate it with the UI input control.
				// Restrict the search to the default country, and to place type "cities".
				/* autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')),
				{
					//types: ['(regions)'],
				    //types: ['(regions)'],
				    componentRestrictions: countryRestrict
				}); */
				places = new google.maps.places.PlacesService(map_view_search);
				geocoder = new google.maps.Geocoder();
				google.maps.event.addListener(map_view_search, 'dragend', function() {

					  //console.log(map.getCenter().k);

					var input = "" + map_view_search.getCenter().k + "," + map_view_search.getCenter().D;
					var latlngStr = input.split(',', 2);
					var lat = parseFloat(latlngStr[0]);
					var lng = parseFloat(latlngStr[1]);
					//console.log("dragend k,D: lat:"+map_view_search.getCenter().k+" ,long"+map_view_search.getCenter().D);
					//console.log("dragend lat() lng(): lat:"+map_view_search.getCenter().lat()+" ,long"+map_view_search.getCenter().lng());
					var wrapped = new google.maps.LatLng(map_view_search.getCenter().lat(), map_view_search.getCenter().lng());
					//console.log("wrapped lat() lng(): lat:"+wrapped.lat()+" ,long"+wrapped.lng());
					var latlng = new google.maps.LatLng(wrapped.lat(), wrapped.lng());
					geocoder.geocode({'latLng': latlng}, function(results, status) {
					  	if (status == google.maps.GeocoderStatus.OK) {
					    	if (results[1]) {
					
					      	//alert(results[1].formatted_address);
					      	
					      	
					      /* 	if(searchQueries.searchText == "*")
								$("#searchtext").text(" ");
							else */
							//console.log("new dragend address: "+results[1].formatted_address);
								$("#location-name").text(" "+results[1].formatted_address);
								searchQueries.latitude = lat;
								searchQueries.longitude = lng;
								
								
								//searchQueries.listPages = data.searchQueries.listPages;
								//searchQueries.currentPage = data.searchQueries.currentPage;
								//alert(searchQueries.listPages[searchQueries.currentPage]);
								var url = searchQueries.listPages[searchQueries.currentPage]+ "&mapLat="+searchQueries.latitude+"&mapLong="+searchQueries.longitude
								$(".products").empty();
								clearMarkers();
								
								fetchPagePosts(url);
								/* $(".products").empty();
								//$("#loadingPosts").show();
								clearMarkers();
								fetchPagePosts(url); */
					
					    	} else {
					    		console.log('No results found');
					    	}
					  	} else {
					    	console.log('Geocoder failed due to: ' + status);
  						}
					});
				});
				//google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
				
			}
			function initialized(){
				map_view_search.panTo(new google.maps.LatLng(searchQueries.latitude, searchQueries.longitude));
			}
			// When the user selects a city, get the place details for the city and
			// zoom the map in on the city.
			/* function onPlaceChanged() {
			  var place = autocomplete.getPlace();
			  if (place.geometry) {
			    map_view_search.panTo(place.geometry.location);
			    map.setZoom(15);
				clearMarkers();
				addMarker(place)
				
			  } else {
			    document.getElementById('autocomplete').placeholder = $.i18n.prop('validation.enteraddress');
			  }
			
			} */
			
			function addMarker(){

		     	var marker;
				if(retList != undefined && retList != null ){
					
					var sortedPostsLists = [];
					var newLength = 0;
					for(var i=0; i < retList.length; i++){
						if(retList[i].location != undefined && retList[i].location != null ){
							if(retList[i].location.length > 1){
								for (var inti = 0; inti < retList[i].location.length; inti++) {
									
									sortedPostsLists[newLength] = new tempPost(retList[i],inti);
									newLength++;
								}
							}else{
								sortedPostsLists[newLength] = new tempPost(retList[i],0);
								
								newLength++;
							}
							
						}
					}
					sortedPostsLists.sort(SortByLatitutde);
					sortedPostsLists.sort(SortByLangitude);
					var finalPostArray = [];
					
					var mergeCounter = 0;
					var tempfinalArrayList;
					for(var sortedListCounter = 0; sortedListCounter < sortedPostsLists.length; ){
						
						tempfinalArrayList = new finalArrayList();
						tempfinalArrayList.longitude = sortedPostsLists[sortedListCounter].longitude;
						tempfinalArrayList.latitude = sortedPostsLists[sortedListCounter].latitude;
						tempfinalArrayList.posts.push(sortedPostsLists[sortedListCounter]);
						
						for( mergeCounter = sortedListCounter+1; mergeCounter < sortedPostsLists.length; mergeCounter++){
							
							if( isPostsEqual(sortedPostsLists[sortedListCounter],sortedPostsLists[mergeCounter]) ){
								tempfinalArrayList.posts.push(sortedPostsLists[mergeCounter]);
							}
							else{
								break;
							}
							
						}
						finalPostArray.push(tempfinalArrayList)
						sortedListCounter=mergeCounter;
					}
					
					for(var i=0; i < finalPostArray.length; i++){
						
						
						
						
						
						//if(retList[i].location != undefined && retList[i].location != null ){
							console.log(finalPostArray[i].latitude+","+finalPostArray[i].longitude);
							
							var input = new google.maps.LatLng(finalPostArray[i].latitude, finalPostArray[i].longitude);
							console.log(input.toString());
							if(finalPostArray[i].posts.length > 1)
								markers[i] = new google.maps.Marker({
						               position: input ,
						               map: map_view_search,
						               icon:'https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld='+ finalPostArray[i].posts.length +'|FF776B|FFFFFF'/* ,
						               title: 'Hello World!' */
						         });
							else
								markers[i] = new google.maps.Marker({
						               position: input ,
						               map: map_view_search/* ,
						               title: 'Hello World!' */
						         });
							var infoWindowHtml = '<div id="infobox">';
							var newHtm = '<div id="content" class="slides">';
							for(var j = 0; j < finalPostArray[i].posts.length; j++){
								var sharingPrice = "";
								   if(finalPostArray[i].posts[j].category == "dish"){
									   sharingPrice = $.i18n.prop('dishdetail.label.sharingcost');
								}
								//console.log("||||||||||||| "+finalPostArray[i].posts[j].postTitle);
								newHtm = newHtm+
						      		'<div class="memory">'+
		      					       '<div>'
								+ 			finalPostArray[i].posts[j].postTitle
								+ 		'</div>'
								+		'<a href="'+contextPath+finalPostArray[i].posts[j].postDetailURL+'">'
								+			'<img class="slideImageSize" id="pic" style="padding-bottom: 3px;"src="'+contextPath+'/images_public/item_images/'+finalPostArray[i].posts[j].postPictureFront+'" />'
								+	  	'</a>'
								+		'<div class="rating-box">'
					 			+		  '<div style="width: '+finalPostArray[i].posts[j].averageReviews+'" class="rating">'
								+			'<svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" width="73px" height="12px" viewBox="0 0 73 12" enable-background="new 0 0 73 12" xml:space="preserve">'
								+				'<polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="6.5,0 8,5 13,5 9,7.7 10,12 6.5,9.2 3,12 4,7.7 0,5 5,5"></polygon>'
								+				'<polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="66.5,0 68,5 73,5 69,7.7 70,12 66.5,9.2 63,12 64,7.7 60,5 65,5 "></polygon>'
								+				'<polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="21.5,0 23,5 28,5 24,7.7 25,12 21.5,9.2 18,12 19,7.7 15,5 20,5 "></polygon>'
								+				'<polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="51.5,0 53,5 58,5 54,7.7 55,12 51.5,9.2 48,12 49,7.7 45,5 50,5 "></polygon>'
								+				'<polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="36.5,0 38,5 43,5 39,7.7 40,12 36.5,9.2 33,12 34,7.7 30,5 35,5 "></polygon>'
								+			'</svg>'
								+		  '</div>'
								+		'</div>'
								+		'<div>'
								+			sharingPrice+' '+finalPostArray[i].posts[j].postPrice
								+		'</div>'+
		      						'</div>';
								
									
								
								
								
								
								
							}
							
							newHtm = newHtm+'</div>';
							infoWindowHtml = infoWindowHtml+newHtm+	'<div>';
							var infobox = new InfoBox({
						         content: infoWindowHtml,
						         disableAutoPan: false,
						         maxWidth: 200,
						         pixelOffset: new google.maps.Size(-140, 0),
						         zIndex: null,
						         boxStyle: {
						            background: "url('https://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/examples/tipbox.gif') no-repeat",
						            opacity: 0.75,
						            width: "200px"
						        },
						        closeBoxMargin: "12px 4px 2px 2px",
						        closeBoxURL: "https://www.google.com/intl/en_us/mapfiles/close.gif",
						        infoBoxClearance: new google.maps.Size(1, 1)
						    });
							infoboxes[i] = infobox;
						    marker = markers[i];
						    bindInfoWindow( markers[i], map_view_search, infobox);
						    
							
							
							
							/* 
							var contentString = '<div id="content">'+
					        '<div id="siteNotice">'+
					        '</div>'+
					        '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
					        '<div id="bodyContent">'+
					        '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
					        'sandstone rock formation in the southern part of the '+
					        
					        'Heritage Site.</p>'+
					        '<p>Attribution: Uluru, '+
					        '(last visited June 22, 2009#######)';
							
							contentString += (i*10)+'</p>'+
					        '</div>'+
					        
									  '<div style="width: '+50+'" class="rating">'
							+			'<svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" width="73px" height="12px" viewBox="0 0 73 12" enable-background="new 0 0 73 12" xml:space="preserve">'
							+				'<polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="6.5,0 8,5 13,5 9,7.7 10,12 6.5,9.2 3,12 4,7.7 0,5 5,5"></polygon>'
							+				'<polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="66.5,0 68,5 73,5 69,7.7 70,12 66.5,9.2 63,12 64,7.7 60,5 65,5 "></polygon>'
							+				'<polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="21.5,0 23,5 28,5 24,7.7 25,12 21.5,9.2 18,12 19,7.7 15,5 20,5 "></polygon>'
							+				'<polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="51.5,0 53,5 58,5 54,7.7 55,12 51.5,9.2 48,12 49,7.7 45,5 50,5 "></polygon>'
							+				'<polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="36.5,0 38,5 43,5 39,7.7 40,12 36.5,9.2 33,12 34,7.7 30,5 35,5 "></polygon>'
							+			'</svg>'
							+		  '</div>'
							+		
					        '</div>';
					        var infowindow = new google.maps.InfoWindow({
						        content: contentString
						    });
							bindInfoWindow(markers[i], map_view_search, infowindow)
							 */
							
						//}
					}
				}
			}
			function bindInfoWindow(marker, map, infowindow) {
			    
				google.maps.event.addListener(marker, 'click', function() {
					for (var i = 0; i < infoboxes.length; i++) {
					    if (infoboxes[i])
					    	infoboxes[i].close();
					      
					}
					infowindow.open(map, this);
			        //map.panTo(input);
			    });
				
				google.maps.event.addListener(infowindow, 'domready', function() {
					initNav();
					$('.slidesNav li').on('click', function() {
						console.log('ENTER .slidesNav li click()');
						console.log('animating flag: ' + animating);
						
						if(animating == false){
							
							var clickedSlidesNavLi = $('.slidesNav li').index(this);
							console.log('clickedSlidesNavLi = ' + clickedSlidesNavLi);				
							var slidesActiveIndex = $('.slides div.memory.active').index();
							console.log('slidesActiveIndex = ' + slidesActiveIndex);
							console.log('numSlides-1: ' + numSlides);
							
							if (clickedSlidesNavLi == 1 && slidesActiveIndex != numSlides-1) {
								 animating = true;

								// Slide the main slideshow
								$('.slides > div.memory.active').animate({ left: '-100%' }, 1000).end();
								$('.slides > div.memory').eq(slidesActiveIndex+1).animate({ left: '0' }, 1000, function () {
									$('.slides > div.memory.active').removeClass('active');
									$('.slides > div.memory').eq(slidesActiveIndex+1).addClass('active');
									animating = false;
									$('.slideCounter').text(slidesActiveIndex+2 + '/' +numSlides);
								}).end();
							}
							
							else if (clickedSlidesNavLi == 0 && slidesActiveIndex != 0) {
								animating = true;
								// Slide the main slideshow
								$('.slides > div.memory.active').animate({ left: '100%' }, 1000).end();
								$('.slides > div.memory').eq(slidesActiveIndex-1).animate({ left: '0' }, 1000, function () {
									$('.slides > div.memory.active').removeClass('active');
									$('.slides > div.memory').eq(slidesActiveIndex-1).addClass('active');
									animating = false;
									$('.slideCounter').text(slidesActiveIndex + '/' +numSlides);
								}).end();
							}					
							
						}
					});
				});
				
				/* google.maps.event.addListener(marker, 'click', function() {
			        infowindow.open(map, marker);
			    }); */
			} 
			function clearMarkers() {
				for (var i = 0; i < infoboxes.length; i++) {
					if (infoboxes[i])
						infoboxes[i].close();
					      
				}				
				for (var i = 0; i < markers.length; i++) {
				  	if (markers[i]) {
					    markers[i].setMap(null);
					    markers[i] = null;
				  	}
				}
				markers = [];
			}
		
			function initNav() {
				numSlides = $('.slides div.memory').size();
				if ($('.slides div.memory').length > 1) {
					//console.log('ENTER !!!11');
					var slidesnavlis = [];
				

					slidesnavlis.push('<li class="left"></li>');
					slidesnavlis.push('<li class="right"></li>');
					//$('.slides').after()
					$('.slides').after('<span class="slideCounter">1/2</span><ul class="slidesNav" style=" padding-bottom: 6px;"></ul>');
					$('.slidesNav').html(slidesnavlis.join('\n'));
					$('.slideCounter').text(1 + '/' +numSlides);
				}

				//show the first slide when the infoWindow opens
				$('.slides > div.memory:first').addClass('active');
				
				//console.log('numSlides = ' + numSlides);
			}
		
			function SortByLatitutde(a,b){
				return parseFloat(a.latitude) - parseFloat(b.latitude);
			}
			function SortByLangitude(a,b){
				return parseFloat(a.longitude) - parseFloat(b.longitude);
			}
		
			function tempPost(serverPost,locIterator){
				this.averageReviews=serverPost.averageReviews;
				
				this.postDetailURL=serverPost.postDetailURL;
				
				this.postPictureBack=serverPost.postPictureBack;
				
				this.postPictureFront=serverPost.postPictureFront;
				this.postPrice=serverPost.postPrice;
				
				this.postTitle=serverPost.postTitle;
				this.longitude=serverPost.location[locIterator].longitude;
				this.latitude=serverPost.location[locIterator].latitude;
				this.category=serverPost.category;
				
			}
		
			function isPostsEqual(a,b){
				if(a != undefined && b != undefined && a != null && b != null)
					if(a.longitude == b.longitude && a.longitude == b.longitude)
						return true;
					else
						return false;
				else
					return false;
			}
		
			function finalArrayList(){
				this.longitude = "";
				this.latitude = "";
				this.posts = [];
			}
		
		
		
		
		
		
		
			// ]]>
		</script>
		
			
	</body>
</html>